@inherits MiniHoldPage
@page "/"
@using I8Beef.Ecobee;
@using MiniHold.Abstractions;

<style type="text/css">
    button {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    h5 {
        margin-top: 1em;
        margin-bottom: 0.25em;
        font-weight: bold;
    }

    .temp {
        font-size: 150%;
    }

    .tempBlock {
        display: inline-block;
        margin-right: 0.5em;
    }

    .heat {
        background-color: mistyrose;
        color: black;
    }

    .cool {
        background-color: lightcyan;
        color: black;
    }
</style>

<LoadingSpinner Busy="@App.Busy" />

@foreach (var ti in ClientStatic.ThermostatObjects)
{
    var thermostatClient = ti.ThermostatClient;
    var info = ti.Information;

    <h1>@thermostatClient.Name</h1>

    <hr />
    <RefreshBox Thermostat="@ti" />

    if (ti.Information.EquipmentStatus.Any())
    {
        <hr />
        <div title="Running Equipment">
            @foreach (string str in ti.Information.EquipmentStatus)
            {
                <div class="badge bg-primary">
                    @str
                </div>
                @:&nbsp;
            }
        </div>
    }

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <hr />
                <h5>Outdoor</h5>
                <div>
                    @info.Weather.Condition
                </div>
                <div title="Temperature" class="temp">
                    @info.Weather.Temperature.FarenheitString
                </div>
                <div>
                    <strong>Humidity:</strong> @info.Weather.Humidity.PercentageString
                </div>
                <hr />
                <h5>Indoor</h5>
                <div title="Temperature" class="temp">
                    @info.Actual.Temperature.FirstOrDefault()?.FarenheitString
                </div>
                <div>
                    <strong>Humidity:</strong> @info.Actual.Humidity.FirstOrDefault()?.PercentageString
                </div>
                <hr />
                <h5>Runtime</h5>
                <div class="tempBlock">
                    Heat
                    <div title="Temperature" class="temp">
                        @info.Desired.HeatTemp.FarenheitString
                    </div>
                </div>
                <div class="tempBlock">
                    Cool
                    <div title="Temperature" class="temp">
                        @info.Desired.CoolTemp.FarenheitString
                    </div>
                </div>
                <div>
                    <strong>Fan:</strong> @info.Desired.Fan
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <hr />
                <div style="display: grid; row-gap: 1em; column-gap: 1em">
                    <h5 style="grid-row: 1; grid-column: 1">
                        10m Hold
                    </h5>
                    <GridButton Position="(2, 1)" OnClick="ti.Hold10Heat" Text="+2°" />
                    <GridButton Position="(3, 1)" OnClick="ti.Hold10Cool" Text="-2°" />
                    <GridButton Position="(4, 1)" OnClick="ti.Hold10Fan" Text="Fan" />
                    <GridButton Position="(5, 1)" OnClick="ti.Hold10Away" Text="Away" />

                    <h5 style="grid-row: 1; grid-column: 2">
                        30m Hold
                    </h5>
                    <GridButton Position="(2, 2)" OnClick="ti.Hold30Heat" Text="+2°" />
                    <GridButton Position="(3, 2)" OnClick="ti.Hold30Cool" Text="-2°" />
                    <GridButton Position="(4, 2)" OnClick="ti.Hold30Fan" Text="Fan" />
                    <GridButton Position="(5, 2)" OnClick="ti.Hold30Away" Text="Away" />

                    <h5 style="grid-row: 6; grid-column: 1 / 3">
                        Away
                    </h5>
                    <GridButton Position="(7, 1)" OnClick="ti.Hold2HAway" Text="for 2 hours" />
                    <GridButton Position="(8, 1)" OnClick="ti.Hold4HAway" Text="for 4 hours" />
                    <GridButton Position="(9, 1)" OnClick="ti.Hold6HAway" Text="for 6 hours" />
                    <GridButton Position="(7, 2)" OnClick="ti.Hold7AAway" Text="until 7 am" />
                    <GridButton Position="(8, 2)" OnClick="ti.Hold4PAway" Text="until 4 pm" />
                    <GridButton Position="(9, 2)" OnClick="ti.Hold9PAway" Text="until 9 pm" />
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <hr />
                <h5>Program</h5>
                <p>
                    @info.Program.Name
                </p>
                <div class="tempBlock">
                    Heat
                    <div title="Temperature" class="temp">
                        @info.Program.HeatTemp.FarenheitString
                    </div>
                </div>
                <div class="tempBlock">
                    Cool
                    <div title="Temperature" class="temp">
                        @info.Program.CoolTemp.FarenheitString
                    </div>
                </div>
                <div>
                    <strong>Fan (heat):</strong> @info.Program.HeatFan
                </div>
                <div>
                    <strong>Fan (cool):</strong> @info.Program.CoolFan
                </div>
                @if (info.Events.FirstOrDefault() is Event e && e.EventType == "hold")
                {
                    var temp = e.AbsoluteTemperatureRanges.SingleOrDefault();
                    <hr />
                    <h5>Hold</h5>
                    <div class="tempBlock">
                        Heat
                        <div title="Temperature" class="temp">
                            @temp?.HeatTemp.FarenheitString
                        </div>
                    </div>
                    <div class="tempBlock">
                        Cool
                        <div title="Temperature" class="temp">
                            @temp?.CoolTemp.FarenheitString
                        </div>
                    </div>
                    <div>
                        <strong>Fan:</strong> @temp?.Fan
                    </div>
                    <div>
                        <strong>Start:</strong> @e.StartDate?.ToString("h:mm tt M/d/yy")
                    </div>
                    <div>
                        <strong>End:</strong> @e.EndDate?.ToString("h:mm tt M/d/yy")
                    </div>
                    <center>
                        <button class="btn btn-secondary mt-2" @onclick="ti.ClearHold">
                            Cancel Hold
                        </button>
                    </center>
                }
            </div>
        </div>
    </div>
}

<div class="mb-4"></div>
