@if (Thermostat != null)
{
    <h1>
        <span class="visually-hidden">
            Current thermostat:
        </span>
        @Thermostat.ThermostatClient.Name
    </h1>

    foreach (var a in Thermostat.Information.Alerts)
    {
        <div class="alert alert-danger" role="alert">
            @a.Text (@a.DateTime)
        </div>
    }

    string cssClass = Thermostat.Information.Mode switch
    {
        "auto" => "bg-success",
        "heat" => "bg-danger",
        "auxHeatOnly" => "bg-danger",
        "cool" => "bg-primary",
        _ => "bg-secondary"
    };

    <div class="badge @cssClass">
        <span class="visually-hidden">
            Thermostat mode:
        </span>
        @Thermostat.Information.Mode
    </div>

    <hr />

    <p align="center">
        Last updated:
        <br />
        @Thermostat.LastUpdated.ToLocalTime().ToString("h:mm tt on MMMM d, yyyy")
        <br />
        <button class="btn btn-primary mt-2" @onclick="Thermostat.Refresh">
            Refresh
        </button>
    </p>
}

@code {
    [Parameter]
    public ThermostatObject Thermostat { get; set; }
}
